
html{
    font-size: 10px;
  }
  body
  {
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet"> 
    color: #feae47;
    font-size: 1.5rem;
    text-align: center;
    line-height:1;
    margin<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet"> : 0;
  }
  h1{
    font-size: 3rem;
    margin: 5px, 5px, 5px, 5px;
  }
  
  @media (max-width: 500px){
    h1
    {
      font-size: 3.25rem;
      line-height: 1.2;
      }
  
  }
  img {
    max-width: 100%;
    display: block;
    height: auto;
    width: 400px;
    margin: 0 auto;
    border-radius:20px;
  }
  
  #main
  {
    margin: 100px, 10px;
    padding: 20px;
    border-radius: 20px;
    background-color:  #fbeec1;
    color: #354c15;
  }
  #img-div{
    background-color: #354c15;
    padding:50px 10px 10px 10px;
    margin: 50px 450px;
    border-radius:20px;
    box-shadow: 0 10px 30px black;
    max-width: 100%;
  }
  #img-caption{
    color: #fbeec1;
    margin: auto;
    padding: 20px;
  }
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  #headline{
    text-align: center
  }
  a{
    color: #477ca7;
  }
  a:visited{
    color: #74638f;
  }
  ul{
    line-height: 2;
    margin: 0 auto 50px auto;
    text-align: left;
    max-width: 600px;
    padding-top: 15px;
  }
  li{
    margin: 10px;
  }
  .hr-test{
    max-width: 900px;
  }
  #tribute-info{
    background-color: white;
    margin: 100px;
    padding: 10px 10px 10px 10px;
    border-radius:20px;
    box-shadow: 0 10px 15px black;
  }
  #tribute-link{
    line-height: 1.75;
  }
  @media (max-width: 500px) {
    #main {
      margin: 0;
    }
  }
  @media (max-width: 1400px)
  {
    #img-div{
      margin:0;
    }
  }
  @media (max-width: 600px)
  {
    #tribute-info{
      margin:0;
      margin-top: 10px;
    }
  }
